.ServerMessagesContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ErrorMessage {
    display: flex;
    justify-content: baseline;
    padding: 5px;
    border-left: 5px solid red;
    background-color: rgb(255, 229, 229);
    font-size: medium;
}

.SuccessMessage {
    display: flex;
    justify-content: baseline;
    padding: 5px;
    border-left: 5px solid #4E9F3D;
    background-color: #e4ffdf;
    font-size: medium;
}