.PopupContainer{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.555);

    justify-content: center;
    align-items: center;
}

.PopupInnerContainer{
    background-color: white;

    width: 65%;
    max-height: 70%;
    padding: 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.PopupInnerContainer form{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.PopupInnerContainer form textarea{
    resize: vertical;
}
