.registerForm
{
    font-family: 'Public Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: xx-large;
    color: white;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    margin-top: 10px;
}

.registerForm *
{
    margin-top: 5px;
    color: black;
}

.registerForm input
{
    width: min-content;
}