@import url('https://fonts.cdnfonts.com/css/public-sans');

.Navbar
{
    z-index: 2;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    background-size: cover;

    background-color: #191A19;

    min-height: 70px;
}

.Buttons
{
    display: flex;
    justify-content: flex-end;
    
    margin-right: 10px;

    justify-content: space-around;
}

.Navbar button
{
    font-family: 'Public Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: xx-large;
    
    text-align: center;
    color: #F6F1F1;
    border:none;
    background-color: inherit;
    border-radius: 20px;
}

.Navbar button:hover
{
    color:#4E9F3D;
}

.Logo
{
    display: flex;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: xx-large;

    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;

    pointer-events: none;
}

.Logo p{
    font-family: 'Titan One', cursive;
}

.LogoMe{
    color: #4E9F3D;
}

.Navbar a{
    text-decoration: none;
}

.Logo *{
    margin: 0px;
}

.LandingPage h1{
    z-index: 1;
}