.offersSearcher{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offersContainer{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
}

.verticalSpace{
    height: 20px;
}